section.demo
    .demo__top
    .demo__middle 
        .demo__text
            h1.demo__text--title Demo title
            .demo__border.demo__border--line
            h2.demo__text--description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .demo__bottom

    