header.header
    .header__background
        .header__opasity
            .header__opasity--dark
                .header__container
                    .header__top 
                        .header__logo
                            span.header__logo--text.header__logo--line test

                        include nav
                        
            .header__opasity--yellow 
                .header__container--yellow
                    ul#menu__yellow.menu__yellow
                        li
                            a.menu__link-gray(href="#") Menu 
                                i.fa.fa-angle-down
                            ul.submenu
                                li
                                    a( href="#") Menu 1
                                li
                                    a( href="#") Menu 2
                                li
                                    a( href="#") Menu 3
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                
                        li
                            a.menu__link-gray(href="#") Menu 
                                i.fa.fa-angle-down
                            ul.submenu
                                li
                                    a( href="#") Menu 1
                                li
                                    a( href="#") Menu 2
                                li
                                    a( href="#") Menu 3
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                
                        li
                            a.menu__link-gray(href="#") Menu 
                                i.fa.fa-angle-down
                            ul.submenu
                                li
                                    a( href="#") Menu 1
                                li
                                    a( href="#") Menu 2
                                li
                                    a( href="#") Menu 3
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                               
                        li
                            a.menu__link-gray(href="#") Menu 
                                i.fa.fa-angle-down
                            ul.submenu
                                li
                                    a( href="#") Menu 1
                                li
                                    a( href="#") Menu 2
                                li
                                    a( href="#") Menu 3
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                                li
                                    a( href="#") Menu 
                    .burger
                        a#burger(href="#")
                            i.fa.fa-bars.burger__icon(aria-hidden="true")
                    .header__text--test
                        span.header__test test             