nav.nav
    ul#menu.menu
        li
            a.menu__link-yellow(href="#") Menu 
                i.fa.fa-angle-down
            ul.submenu
                li
                    a( href="#") Menu 1
                li
                    a( href="#") Menu 2
                li
                    a( href="#") Menu 3
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
               
        li
            a.menu__link-yellow(href="#") Menu 
                i.fa.fa-angle-down
            ul.submenu
                li
                    a( href="#") Menu 1
                li
                    a( href="#") Menu 2
                li
                    a( href="#") Menu 3
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
               
        li
            a.menu__link-yellow(href="#") Menu 
                i.fa.fa-angle-down
            ul.submenu
                li
                    a( href="#") Menu 1
                li
                    a( href="#") Menu 2
                li
                    a( href="#") Menu 3
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
              
        li
            a.menu__link-yellow(href="#") Menu 
                i.fa.fa-angle-down
            ul.submenu
                li
                    a( href="#") Menu 1
                li
                    a( href="#") Menu 2
                li
                    a( href="#") Menu 3
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
                li
                    a( href="#") Menu 
                
       
    .header__text.header__text--line
                            h1.header__title Hello
                            h2.header__description This is 
                                